<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img src="ff-color-logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">Fantastic Fitness</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated | async" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/account']">Account</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/activities']">Services</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/calendar']">Calendar</a>
          </li>
          <li class="nav-item" *ngIf="!(isAuthenticated | async)" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/loginNew']">Login</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated | async">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
