<h1>Register</h1>
<div *ngIf="message" class="alert alert-success">{{ message }}</div>
<div *ngFor="let errorMessage of errorMessages | keyvalue">
  <div *ngFor="let textMessage of errorMessage.value" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ textMessage }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="card-section-wrapper py-4">
  <div class="card-wrapper">

    <div class="form-wrapper">
      <form>
        <label>First name: <input class="form-control" [(ngModel)]="registrationData.firstName" name="firstName"></label><br>
        <label>Last name: <input class="form-control" [(ngModel)]="registrationData.lastName" name="lastName"></label><br>
        <label>Email: <input class="form-control" [(ngModel)]="registrationData.email" name="email"></label><br>
        <label>Username: <input class="form-control" [(ngModel)]="registrationData.username" name="username"></label><br>
        <label>Password: <input type="password" class="form-control" [(ngModel)]="registrationData.password" name="password"></label><br>
        <label>Password Confirmation: <input type="password" class="form-control" [(ngModel)]="registrationData.confirmPassword" name="confirmPassword"></label><br>
        <label>
          Birthday: <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="registrationData.birthdateData" ngbDatepicker #d="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Choose</button>
        </label>
        <br>
        Gender:
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="registrationData.gender" value="1">
          <label class="form-check-label">
            Female
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="registrationData.gender" value="2">
          <label class="form-check-label">
            Male
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="registrationData.gender" value="3">
          <label class="form-check-label">
            Non-Binary
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="registrationData.gender" value="4">
          <label class="form-check-label">
            Transgender
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="registrationData.gender" value="5">
          <label class="form-check-label">
            Intersex
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="registrationData.gender" value="6">
          <label class="form-check-label">
            Other
          </label>
        </div>
        <br>
        <button class="btn btn-dark" (click)="register()">Submit</button>
      </form>
    </div>
  </div>
</div>
