<div class="row">
  <div class="col-sm-2">
    <app-sidebar-nav-menu></app-sidebar-nav-menu>
  </div>

  <div class="col-sm-5 ">
    <h2>Add subscription</h2>
    <br>
    <div *ngIf="message">
      <div class="alert alert-success">{{ message }}</div>
    </div>
    <div *ngFor="let errorMessage of errorMessages | keyvalue">
      <div *ngFor="let textMessage of errorMessage.value" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ textMessage }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="form-wrapper">
      <form>
        Subscription: <select class="form-control" #subscription required>
          <option *ngFor="let subscriptionOption of subscriptions"
                  value="{{ subscriptionOption.id }}">
            {{ subscriptionOption.duration }} days
          </option>
        </select>
        <br>
        User: <select class="form-control" #user required>
          <option *ngFor="let userOption of users"
                  value="{{ userOption.id }}">
            {{ userOption.email }}
          </option>
        </select>
        <br>
        <label>
          Start on: <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" #start ngbDatepicker #d="ngbDatepicker"><br>
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Choose</button>
        </label>
        <br>

        <button class="btn btn-fantastic" (click)="saveSubscription(start.value, subscription.value, user.value)">Save</button>
      </form>
    </div>
  </div>
</div>
