<div class="row">
  <div class="col-sm-2">
    <app-sidebar-nav-menu></app-sidebar-nav-menu>
  </div>

  <div class="col-sm-10">
    <h1 id="tableLabel">Services</h1>

    <p *ngIf="!activities"><em>Loading...</em></p>
    <br>

    <a class="btn btn-light" (click)="addActivity()">
      Create activity
    </a>
    <br>
    <br>
    <table class='table table-hover' aria-labelledby="tableLabel" *ngIf="activities">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Difficulty Level</th>
          <th>Description</th>
          <th>Picture</th>
          <th>Primary Colour</th>
          <th>Secondary Colour</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities">
          <td>{{ activity.name }}</td>
          <td>{{ activity.type }}</td>
          <td>{{ activity.difficultyLevel }}</td>
          <td>{{ activity.description }}</td>
          <td>{{ activity.activityPicture }}</td>
          <td>{{ activity.primaryColour }}</td>
          <td>{{ activity.secondaryColour }}</td>
          <td>
            <a class="btn btn-light" aria-label="Edit" title="Edit">
              <i class="fa fa-pencil-alt" aria-hidden="true"></i>
            </a>
            <a class="btn btn-danger" aria-label="Delete" title="Delete">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
