<div class="row">
  <div class="col-sm-2">
    <app-sidebar-nav-menu></app-sidebar-nav-menu>
  </div>

  <div class="col-sm-10">
    <h1 id="tableLabel">Activities Calendar</h1>

    <div class="row text-right">
      <div class="col-md-4 offset-md-8 col-sm-12 offset-sm-0">
        <div class="btn-group">
          <div class="btn btn-outline-secondary"
               mwlCalendarToday
               [(viewDate)]="viewDate">
            This week
          </div>
          <div class="btn btn-primary"
               mwlCalendarNextView
               [view]="view"
               [(viewDate)]="viewDate"
               (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </div>
        </div>
      </div>
    </div>

    <br>

    <mwl-calendar-week-view [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            [dayStartHour]="9"
                            [dayEndHour]="18"
                            [weekStartsOn]="weekStartsOn"
                            (eventTimesChanged)="eventTimesChanged($event)"
                            (hourSegmentClicked)="hourSegmentClicked($event.date)">
    </mwl-calendar-week-view>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Add/edit event</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div *ngFor="let errorMessage of errorMessages | keyvalue">
      <div *ngFor="let message of errorMessage.value" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div>
      Description: <input type="text"
                          class="form-control"
                          [(ngModel)]="modalData.event.meta.description" />
      <br>
      Starts At: <input class="form-control"
                        type="text"
                        mwlFlatpickr
                        [(ngModel)]="modalData.event.meta.startTime"
                        [altInput]="true"
                        [convertModelValue]="true"
                        [enableTime]="true"
                        placeholder="Not set"
                        [options]="startDatePickerOptions"
                        required />
      <br>
      Ends At: <input class="form-control"
                      type="text"
                      mwlFlatpickr
                      [(ngModel)]="modalData.event.meta.endTime"
                      [altInput]="true"
                      [convertModelValue]="true"
                      [enableTime]="true"
                      [options]="endDatePickerOptions"
                      placeholder="Not set"
                      required />
      <br>
      Activity: <select class="form-control"
                        (change)="filterTrainers($event.target.value)"
                        [(ngModel)]="modalData.event.meta.activityId" required>
        <option *ngFor="let activityOption of modalData.options.availableActivities"
                value="{{ activityOption.id }}">
          {{ activityOption.name }}
        </option>
      </select>

      <br>
      Trainer: <select class="form-control" [(ngModel)]="modalData.event.meta.trainerId" required>
        <option value="">--</option>
        <option *ngFor="let trainerOption of modalData.options.availableTrainers"
                value="{{ trainerOption.id }}">
          {{ trainerOption.firstName }} {{ trainerOption.lastName }}
        </option>
      </select>

      <br>
      Price: <input class="form-control"
                    type="number"
                    [(ngModel)]="modalData.event.meta.price" />

      <br>
      Capacity: <input class="form-control"
                       type="number"
                       [(ngModel)]="modalData.event.meta.capacity" />
      <button class="btn btn-light btn-outline-success" (click)="saveEvent(modalData.event)">Save</button>
    </div>
  </div>
</ng-template>
