
<nav class="nav flex-sm-column">
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/account']">Account details</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/users']">Manage users</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/create-calendar']">Create events</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/bookings-stats']">View bookings statistics</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/list-trainer']">Manage trainers</a>
</nav>
