
<nav class="nav flex-sm-column">
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/account']">Account details</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/users']" *ngIf="isAdmin | async">Manage users</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/create-calendar']" *ngIf="isAdmin | async">Create events</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/bookings-stats']" *ngIf="isAdmin | async">View bookings statistics</a>
  <a class="nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/list-trainer']" *ngIf="isAdmin | async">Manage trainers</a>
</nav>
