<div class="container">
  <div class="form-row justify-content-sm-center">
    <!--<div class="col col-lg-4">-->
    <div class="form-group col col-sm-8 offset-3">
      <div class="form-wrapper">
        <h3> LOGIN </h3>
        <br>
        <form>
          <label >Email <input class="form-control"  [(ngModel)]="loginData.email" name="email"></label><br>
          <label >Password <input type="password" class="form-control" [(ngModel)]="loginData.password" name="password"></label><br><br>
          <button class="btn btn-light btn-fantastic"  (click)="logIn()">Log in</button>
        </form>
      </div>
    </div>
  </div>
</div>
